

@model List<TeknikServis.Entittes.Models.EnvanterMarkalari>

@{
    ViewBag.Title = "EnvanterMarkaListesi";
    Layout = null;
}


<!-- /.row -->








<div style=" margin:auto; padding-top:30px">

    <h1>

        &ensp;<small> Marka Kategorisi</small>
    </h1>
    <div class="card">

          
        <!-- /.card-header -->
        <div class="card-body">

            &nbsp;
            &nbsp;
            <a style="margin-bottom:20px;" onclick="FormGoster('../Kategori/EnvanterMarkaEkleKarti/?EnvanterMarkaID=0','ETurEkleModal')" title="Ekle" class="btn btn-outline-success fa fa-plus btn-circle btn-lg"></a>
            &nbsp;
            <br />



            @if (Model.Count != 0)
            {

                <table id="example22" class="table table-bordered table-striped">


                    <thead>
                        <tr style="text-align: center">
                            <th style="text-align: center">
                                Barkod No
                            </th>

                            <th style="text-align: center">
                                Marka Adı
                            </th>
                            <th style="text-align: center">
                                Sil
                            </th>







                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.OrderByDescending(file => file.EnvanterMarkaID).ToList())

                        {


                            <tr style="text-align: center;cursor:pointer" ondblclick="FormGoster('../Kategori/EnvanterMarkaEkleKarti/?EnvanterMarkaID=@item.EnvanterMarkaID', 'ETurEkleModal')">


                                <td>
                                    <a href="#" onclick="FormGoster('../Kategori/EnvanterMarkaEkleKarti/?EnvanterMarkaID=@item.EnvanterMarkaID', 'ETurEkleModal')"> @Html.DisplayFor(modelItem => item.BarkodNo)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnvanterMarkaAdi)
                                </td>

                                <td>
                                    <button class="btn btn-danger btn-rounded btn-sm" onclick="EnvanterMarkaSil(@item.EnvanterMarkaID)"
                                            data-toggle="tooltip" data-placement="bottom" title="Sil">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </td>
                            </tr>


                        }



                    </tbody>


                </table>
            }
            else
            {


                <br />
                <div class="callout callout-success lead">
                    <h4>Uyarı!</h4>
                    <p>Henüz hiçbir  Marka eklemediniz.</p>
                </div>










            }
        </div>

        <!-- /.card-body -->
    </div>

    <!-- /.card -->
</div>
<!-- /.col -->
<!-- /.row -->
<!-- /.container-fluid -->







<!-- /.box-footer -->
<!-- /.box -->
<!-- /.col -->
