
@{
    ViewBag.Title = "EnvanterTanimIndex";
}

<section class="content-header">
    <h1>
   &ensp; <small>Envanter Grubu Tanımları</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> </a></li>

    </ol>
</section>
<br />




<div class="box box-default">


    <div class="box box-default">



        <div class="row" style="margin-right: 0px; margin-left:0px;"><div class="col-sm-12"></div><div class="col-sm-12"></div></div><div class="row" style="margin-right: 0px; margin-left:0px;">


    <div id="PanelTanimListe1" class="col-6">

        @{
            Html.RenderAction("EnvanterMarkaListesi");





        }
    </div>
    <div id="PanelTanimListe2" class="col-6">

        @{

            Html.RenderAction("EnvanterKategoriListesiTanim");





        }
    </div>



   

    




   
</div>

    </div>

</div>





<div id="ETurEkleModal" class="modal">
    <div class="modal-dialog-scrollable" style="max-width: 520px; margin: 1.75rem auto;">
        <div class="modal-content">
            

            <div id="ETurEkleModalBody" style="padding-top:0 !important" class="modal-body">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="ETurSilModal" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Kategoriyi/Markayı Kaydını Sil</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat" onclick="FormKapat('ETurSilModal')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div id="ETurSilModalBody" class="modal-body">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>












