
@model TeknikServis.Entittes.Models.Firma

@{
    ViewBag.Title = "FirmaSil";
    Layout = null;
}
@*<div role="alert" id="DivSonuc" style="display:none;">
        <a class="close" onclick="MesajKapat()"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></a>
        <strong></strong>
        <p></p>
    </div>*@



<div class="box box-danger">
    @using (Html.BeginForm("FirmaSil", "Firma", FormMethod.Post, new { id = "FrmFirmaSilKarti" }))
    {
        @Html.HiddenFor(x => x.FirmaID)

        <div class="row">

            <div class="col-md-6" style="margin-top: 1px;">

                <div class="form-group">


                    <label>Firma No</label>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">

                            <span class="input-group-text"><i class="fa fa-id-card"></i></span>

                        </div>

                        @Html.TextBoxFor(x => x.FirmaID, new { disabled = "disabled" })




                    </div>
                </div>
            </div>



            <div class="col-md-6" style="margin-top: 1px;">

                <div class="form-group">


                    <label>Firma Adı</label>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">

                            <span class="input-group-text"><i class="fa fa-question"></i></span>

                        </div>


                        @Html.TextBoxFor(x => x.AdSoyad, new { disabled = "disabled" })





                    </div>
                </div>
            </div>
         

            <br />




        </div>

        <div class="modal-footer">


            <button type="button" onclick="FirmaSilMain(@Model.FirmaID)" class="btn btn-danger"><span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Sil</button>
            <button type="button" onclick="FormKapat('FirmaSilModal')" class="btn btn-default" data-dismiss="modal">Vazgeç</button>


        </div>
    }
</div>




