@{
    Layout = null;
    ViewBag.Title = "_butonlar";
}

<div class="box-footer clearfix">
    <a onclick="FormGoster('../Anasayfa/TeknikKarti', 'TeknikEkleModal')" class="btn btn-m btn-primary btn-m pull-right">Yeni Kayıt Oluştur</a>
    &nbsp;
    <a href="@Url.Action("Index","Teknik")" class="btn btn-m btn-default btn-m pull-right">Bütün Kayıtları Görüntüle</a>
</div>