<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="tr" lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Proforma Fatura Şablon</title>
    <meta name="author" content="IBM" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        p {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 7pt;
            margin: 0pt;
        }

        .s1 {
            color: black;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 7pt;
        }

        .s2 {
            color: black;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 7pt;
        }

        .s3 {
            color: #696969;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 7pt;
        }

        .s4 {
            color: #F00;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 7pt;
        }

        h1 {
            color: #696969;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 7pt;
        }

        .s5 {
            color: #696969;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 6.5pt;
        }

        .s6 {
            color: #696969;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 7pt;
        }

        .s7 {
            color: #F00;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: underline;
            font-size: 7pt;
        }

        .s8 {
            color: #F00;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 7pt;
        }
    </style>
</head>
<body>
    <p style="text-indent: 0pt;text-align: left;">
        <br />
    </p>
    <p style="padding-left: 5pt;text-indent: 0pt;line-height: 3pt;text-align: left;">
        <span><img width="363" height="4" alt="image" src="Proforma Fatura Şablon/Image_001.png" /></span>
    </p>
    <p style="padding-left: 8pt;text-indent: 0pt;line-height: 111%;text-align: left;">MTX KURUMSAL BİLGİ OTOM. SİS. YAZ. OTO TELEKOM DANŞ. TEKN. İTH. İHR. ÜRETİM A.Ş.</p>
    <p style="padding-left: 8pt;text-indent: 0pt;line-height: 111%;text-align: left;">AVŞAR MAH. BATI ÇEVRE YOLU BLV. KSÜ TEKNOKENT NO:259</p>
    <p style="padding-left: 8pt;text-indent: 0pt;text-align: left;">46100 MERKEZ / K.MARAŞ</p>
    <p style="padding-left: 8pt;text-indent: 0pt;text-align: left;">Tel:</p>
    <p style="padding-left: 8pt;text-indent: 0pt;line-height: 111%;text-align: left;">Vergi Dairesi: VKN:</p>
    <p style="text-indent: 0pt;text-align: left;">
        <span><img width="371" height="4" alt="image" src="Proforma Fatura Şablon/Image_002.png" /></span>
    </p>
    <table style="border-collapse:collapse" cellspacing="0">
        <tr style="height:89pt">
            <td style="width:276pt;border-top-style:solid;border-top-width:3pt;border-bottom-style:solid;border-bottom-width:3pt">
                <p class="s1" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">SAYIN</p>
                <p class="s2" style="padding-top: 1pt;padding-left: 1pt;padding-right: 59pt;text-indent: 0pt;line-height: 112%;text-align: left;">ELİS OTOMOTİV PETROL ÜRÜNLERİ İNŞ. TUR. SAN. VE TİC. A.Ş. MALİK EJDER MAH. BATI ÇEVRE YOLU BLV. NO:67/A</p>
                <p class="s2" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Bina No:   Kapı No:</p>
                <p class="s2" style="padding-top: 1pt;padding-left: 1pt;padding-right: 180pt;text-indent: 0pt;line-height: 112%;text-align: left;">46100   MERKEZ  / K.MARAŞ TR</p>
                <p class="s2" style="padding-left: 1pt;padding-right: 211pt;text-indent: 0pt;line-height: 112%;text-align: left;">Vergi Dairesi: AKSU VKN: 332****803</p>
            </td>
        </tr>
        <tr style="height:11pt">
            <td style="width:276pt;border-top-style:solid;border-top-width:3pt">
                <p class="s1" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">ETTN:</p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;" />
    <p style="padding-left: 8pt;text-indent: 0pt;line-height: 111%;text-align: left;">Mersis No: Ticaret Sicil No:</p>
    <p style="text-indent: 0pt;text-align: left;">
        <br />
    </p>
    <p style="text-indent: 0pt;text-align: left;">
        <span><img width="783" height="1" alt="image" src="Proforma Fatura Şablon/Image_003.png" /></span>
    </p>
    <table style="border-collapse:collapse" cellspacing="0">
        <tr style="height:10pt">
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Özelleştirme No:</p>
            </td>
            <td style="width:111pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">TR1.2</p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Senerayo:</p>
            </td>
            <td style="width:111pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">PROFORMAFATURA</p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Fatura Tipi:</p>
            </td>
            <td style="width:111pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">SATIS</p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Fatura No:</p>
            </td>
            <td style="width:111pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
        </tr>
        <tr style="height:10pt">
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Fatura Tarihi:</p>
            </td>
            <td style="width:111pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">24- 01- 2022  14:05:20</p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;" />
    <p class="s4" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Dövizli İşlem</p>
    <p style="text-indent: 0pt;text-align: left;">
        <span><img width="273" height="50" alt="image" src="Proforma Fatura Şablon/Image_004.jpg" /></span>
    </p>
    <h1 style="padding-top: 5pt;padding-left: 11pt;text-indent: -6pt;line-height: 114%;text-align: left;">PROFORMA FATURA</h1>
    <p style="text-indent: 0pt;text-align: left;">
        <br />
    </p>
    <table style="border-collapse:collapse;margin-left:5.863pt" cellspacing="0">
        <tr style="height:18pt">
            <td style="width:21pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 7pt;text-align: left;">No</p>
            </td>
            <td style="width:77pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s5" style="padding-left: 2pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Malzeme / Hizmet Kodu</p>
            </td>
            <td style="width:87pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s5" style="padding-left: 26pt;padding-right: 16pt;text-indent: -10pt;line-height: 117%;text-align: left;">Malzeme / Hizmet Açıklaması</p>
            </td>
            <td style="width:90pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s5" style="padding-left: 26pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Açıklamalar</p>
            </td>
            <td style="width:45pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" colspan="2">
                <p class="s5" style="padding-left: 12pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Miktar</p>
            </td>
            <td style="width:63pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s5" style="padding-left: 14pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Birim Fiyat</p>
            </td>
            <td style="width:47pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" colspan="2">
                <p class="s5" style="padding-left: 12pt;text-indent: 0pt;line-height: 7pt;text-align: left;">KDV %</p>
            </td>
            <td style="width:66pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s5" style="padding-left: 15pt;text-indent: 0pt;line-height: 7pt;text-align: left;">KDV Tutarı</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:2pt">
                <p class="s5" style="text-indent: 0pt;line-height: 7pt;text-align: center;">Tutar</p>
            </td>
        </tr>
        <tr style="height:26pt">
            <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="text-indent: 0pt;text-align: left;">1</p>
            </td>
            <td style="width:77pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 22pt;text-indent: 0pt;text-align: left;">600.99.30</p>
            </td>
            <td style="width:87pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s3" style="padding-top: 3pt;padding-left: 1pt;text-indent: 0pt;text-align: left;">Hp 300 6CR71AA Dual</p>
                <p class="s3" style="padding-top: 1pt;padding-left: 1pt;text-indent: 0pt;text-align: left;">Mode</p>
            </td>
            <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 26pt;text-indent: 0pt;text-align: left;">Ozan Özten</p>
            </td>
            <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">1</p>
            </td>
            <td style="width:28pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 6pt;text-indent: 0pt;text-align: left;">Adet</p>
            </td>
            <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 31pt;text-indent: 0pt;text-align: left;">1,00 USD</p>
            </td>
            <td style="width:20pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 7pt;text-indent: 0pt;text-align: left;">%</p>
            </td>
            <td style="width:27pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">18,00</p>
            </td>
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 23pt;text-indent: 0pt;text-align: left;">0,18 USD</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:2pt">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 53pt;text-indent: 0pt;text-align: left;">1,00 USD</p>
            </td>
        </tr>
        <tr style="height:26pt">
            <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="text-indent: 0pt;text-align: left;">2</p>
            </td>
            <td style="width:77pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 22pt;text-indent: 0pt;text-align: left;">600.99.33</p>
            </td>
            <td style="width:87pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p class="s3" style="padding-top: 3pt;padding-left: 1pt;padding-right: 10pt;text-indent: 0pt;line-height: 112%;text-align: left;">Type-C Şarj Cihazı 65W Adaptör Şarj Aleti</p>
            </td>
            <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 16pt;text-indent: 0pt;text-align: left;">Ramazan Erdihan</p>
            </td>
            <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">1</p>
            </td>
            <td style="width:28pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 6pt;text-indent: 0pt;text-align: left;">Adet</p>
            </td>
            <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 31pt;text-indent: 0pt;text-align: left;">1,00 USD</p>
            </td>
            <td style="width:20pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 7pt;text-indent: 0pt;text-align: left;">%</p>
            </td>
            <td style="width:27pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">18,00</p>
            </td>
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 23pt;text-indent: 0pt;text-align: left;">0,18 USD</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:2pt">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-left: 53pt;text-indent: 0pt;text-align: left;">1,00 USD</p>
            </td>
        </tr>
        <tr style="height:26pt">
            <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="text-indent: 0pt;text-align: left;">3</p>
            </td>
            <td style="width:77pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:87pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:45pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" colspan="2" />
            <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:47pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" colspan="2" />
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:86pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:2pt" />
        </tr>
        <tr style="height:26pt">
            <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="text-indent: 0pt;text-align: left;">4</p>
            </td>
            <td style="width:77pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:87pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:45pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" colspan="2" />
            <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:47pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" colspan="2" />
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:86pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:2pt" />
        </tr>
        <tr style="height:26pt">
            <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="text-indent: 0pt;text-align: left;">5</p>
            </td>
            <td style="width:77pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:87pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:45pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" colspan="2" />
            <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:47pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" colspan="2" />
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:86pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:2pt" />
        </tr>
        <tr style="height:26pt">
            <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="text-indent: 0pt;text-align: left;">6</p>
            </td>
            <td style="width:77pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:87pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:45pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" colspan="2" />
            <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:47pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" colspan="2" />
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:86pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:2pt" />
        </tr>
        <tr style="height:28pt">
            <td style="width:21pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt;border-right-color:#838383">
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="text-indent: 0pt;text-align: left;">7</p>
            </td>
            <td style="width:77pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:87pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:45pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" colspan="2" />
            <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:47pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" colspan="2" />
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt;border-right-color:#838383" />
            <td style="width:86pt;border-top-style:solid;border-top-width:1pt;border-top-color:#838383;border-left-style:solid;border-left-width:1pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt" />
        </tr>
        <tr style="height:12pt">
            <td style="width:320pt;border-top-style:solid;border-top-width:2pt;border-right-style:solid;border-right-width:3pt;border-right-color:#838383" colspan="6" rowspan="6" />
            <td style="width:176pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383" colspan="4">
                <p class="s3" style="padding-left: 89pt;text-indent: 0pt;text-align: left;">Mal / Hizmet Toplam Tutarı</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 52pt;text-indent: 0pt;text-align: left;">2,00 USD</p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:176pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383" colspan="4">
                <p class="s3" style="text-indent: 0pt;line-height: 7pt;text-align: right;">Toplam İskonto</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383" />
        </tr>
        <tr style="height:9pt">
            <td style="width:176pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383" colspan="4">
                <p class="s3" style="text-indent: 0pt;line-height: 6pt;text-align: right;">Toplam Masraf</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383" />
        </tr>
        <tr style="height:9pt">
            <td style="width:176pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383" colspan="4">
                <p class="s3" style="padding-left: 105pt;text-indent: 0pt;line-height: 6pt;text-align: left;">Hesaplana (% 18,00 )</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 52pt;text-indent: 0pt;line-height: 6pt;text-align: left;">0,36 USD</p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:176pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383" colspan="4">
                <p class="s3" style="padding-left: 88pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Vergiler Dahil Toplam Tutar</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 52pt;text-indent: 0pt;line-height: 7pt;text-align: left;">2,36 USD</p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:176pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383" colspan="4">
                <p class="s1" style="text-indent: 0pt;line-height: 7pt;text-align: right;">Ödenecek Tutar</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s1" style="padding-left: 52pt;text-indent: 0pt;line-height: 7pt;text-align: left;">2,36 USD</p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;">
        <br />
    </p>
    <table style="border-collapse:collapse;margin-left:325.51pt" cellspacing="0">
        <tr style="height:10pt">
            <td style="width:176pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="text-indent: 0pt;line-height: 7pt;text-align: right;">Döviz Kuru</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="text-indent: 0pt;line-height: 7pt;text-align: right;">13,45 TL</p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:176pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 89pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Mal / Hizmet Toplam Tutarı</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="text-indent: 0pt;line-height: 7pt;text-align: right;">26,90 TL</p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:176pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="text-indent: 0pt;line-height: 7pt;text-align: right;">Toplam İskonto</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383" />
        </tr>
        <tr style="height:10pt">
            <td style="width:176pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="text-indent: 0pt;line-height: 7pt;text-align: right;">Toplam Masraf</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383" />
        </tr>
        <tr style="height:10pt">
            <td style="width:176pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 105pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Hesaplana (% 18,00 )</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="text-indent: 0pt;line-height: 7pt;text-align: right;">4,84 TL</p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:176pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="padding-left: 88pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Vergiler Dahil Toplam Tutar</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="text-indent: 0pt;line-height: 7pt;text-align: right;">31,74 TL</p>
            </td>
        </tr>
        <tr style="height:10pt">
            <td style="width:176pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="text-indent: 0pt;line-height: 7pt;text-align: right;">Ödenecek Tutar</p>
            </td>
            <td style="width:86pt;border-top-style:solid;border-top-width:3pt;border-top-color:#838383;border-left-style:solid;border-left-width:3pt;border-left-color:#838383;border-bottom-style:solid;border-bottom-width:3pt;border-bottom-color:#838383;border-right-style:solid;border-right-width:3pt;border-right-color:#838383">
                <p class="s3" style="text-indent: 0pt;line-height: 7pt;text-align: right;">31,74 TL</p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;">
        <br />
    </p>
    <table style="border-collapse:collapse;margin-left:5.863pt" cellspacing="0">
        <tr style="height:14pt">
            <td style="width:108pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:2pt">
                <p class="s2" style="padding-top: 2pt;text-indent: 0pt;text-align: left;">Genel Açıklamalar</p>
            </td>
            <td style="width:167pt;border-top-style:solid;border-top-width:2pt">
                <p class="s2" style="padding-top: 2pt;padding-left: 49pt;text-indent: 0pt;text-align: left;">YALNIZ:</p>
            </td>
            <td style="width:16pt;border-top-style:solid;border-top-width:2pt" />
            <td style="width:291pt;border-top-style:solid;border-top-width:2pt;border-right-style:solid;border-right-width:2pt" />
        </tr>
        <tr style="height:138pt">
            <td style="width:582pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="4">
                <p class="s6" style="padding-top: 1pt;text-indent: 0pt;text-align: justify;">Ödeme Koşulu:USD ($) Peşin Ödeme</p>
                <p class="s7" style="padding-top: 1pt;padding-right: 297pt;text-indent: 0pt;line-height: 114%;text-align: left;">
                    Ge n e l Aç ık la ma la r:
                    <span class="s8">Fatura için yapılacak ödemeler tahsilat yapılacağı günün tarihinde geçerli olan Türk Lirası USD kuru üzerinden geçerli olacaktır.</span>
                </p>
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-right: 540pt;text-indent: 0pt;line-height: 112%;text-align: justify;">Vade Günü: Sevk Adresi: Sevk Tarihi:</p>
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="padding-right: 307pt;text-indent: 0pt;line-height: 112%;text-align: left;">Hizmet Açıklama kısmınada bulunan ekstra detayları Servis Formlarına ait ek belgelerde mevcuttur.</p>
                <p style="text-indent: 0pt;text-align: left;">
                    <br />
                </p>
                <p class="s3" style="text-indent: 0pt;text-align: justify;">İyi Çalışmalar Dileriz.</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:275pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#2B2B2B;border-right-style:solid;border-right-width:1pt;border-right-color:#2B2B2B" colspan="2">
                <p class="s1" style="text-indent: 0pt;text-align: left;">Kuveyt Türk Katılım Bankası A.Ş.</p>
            </td>
            <td style="width:16pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-left-color:#2B2B2B;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#2B2B2B;border-right-style:solid;border-right-width:1pt;border-right-color:#2B2B2B">
                <p class="s1" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">TL</p>
            </td>
            <td style="width:291pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-left-color:#2B2B2B;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#2B2B2B;border-right-style:solid;border-right-width:2pt">
                <p class="s1" style="padding-left: 8pt;text-indent: 0pt;text-align: left;">TR67 0020 5000 0969 7501 6000 01</p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td style="width:275pt;border-top-style:solid;border-top-width:1pt;border-top-color:#2B2B2B;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt;border-right-color:#2B2B2B" colspan="2">
                <p class="s1" style="text-indent: 0pt;text-align: left;">Kuveyt Türk Katılım Bankası A.Ş.</p>
            </td>
            <td style="width:16pt;border-top-style:solid;border-top-width:1pt;border-top-color:#2B2B2B;border-left-style:solid;border-left-width:1pt;border-left-color:#2B2B2B;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt;border-right-color:#2B2B2B">
                <p class="s1" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">TL</p>
            </td>
            <td style="width:291pt;border-top-style:solid;border-top-width:1pt;border-top-color:#2B2B2B;border-left-style:solid;border-left-width:1pt;border-left-color:#2B2B2B;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt">
                <p class="s1" style="padding-left: 8pt;text-indent: 0pt;text-align: left;">TR27 0020 5000 0067 5842 8000 01</p>
            </td>
        </tr>
    </table>
</body>
</html>
